.title{
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  color: blueviolet;
  font-size: larger;
  text-align: center;


}
.logo img{
	height: 3rem;
	width: auto;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 4rem;
}


